.bgr1{
      background-image: url(./unsplash-photo-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bgrr2 { 
    background-image: url(./unsplash-photo-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgr22{
    background-image: url(./unsplash-photo-3.jpg);
    background-repeat: no-repeat;
    background-position: center !important;
    background-size: cover;
}